#div1{
  text-align: center;
}
#div2{
}

body{background-color: white;
}

#Pageheader{font-size:80px;color:#191970;
  background-image: url("source.gif");
  background-size: 1000px 800px;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

h3{
  color: black;
}

#div3{
  margin-top: -250px;
  margin-bottom: 100px;
  float: right;
  position: absolute;right:0;top:50;
}
/* this is a comment in css  */
a {
    color: green;
}

/* mouse over link */
a:hover {
    color: orange;
}
/* selected link */
a:active {
    color: yellow;
}
